biopython==1.87
iniconfig==2.3.0
mappy==2.31
numpy==2.5.1
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
pybedtools==0.12.0
pygments==2.20.0
pysam==0.24.0
pytest==9.1.1
python-dateutil==2.9.0.post0
six==1.17.0
